
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title - Optimizing Tank Management </title>
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .sidebar {
     position: fixed;
     width: 200px;
     height: 100%;
     background: #4E4E4E;
 }
 .content {
     margin-left: 200px;
     height: 500px;
     background: #f00;
     z-index: 1;
 }
 .info {
     width: 1440px;
     height: 300px;
     position: relative;
     background: #f55;
 }

 .tanks-display > ul {
     list-style : none;
 }

 @@media (min-width:600px) {
   .sidebar {
     width: 250px;
   }
   .content {
     display : inline-block;
     margin-left: 250px;
   }
 }
    </style>

</head>
<body>
    <div class="container body-content">
        <section class="sidebar">
            <div>
                <div class="tanks-toggle">
                    <div id="active-tanks-toggle"> </div>
                    <div id="all-tanks-toggle"> </div>
                </div>
                <div class="tanks-display">
                    <ul>
                        @foreach (string s in ViewBag.ActiveTanks)
                        {
                            <li>
                                @s
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="content">
            <!--sidebar nav end-->
            @RenderBody()
        </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sidebar")
    @Scripts.Render("~/bundles/additionaljquery")
    @RenderSection("scripts", required: false)
</body>
</html>
