
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title - Optimizing Tank Management </title>
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            position : relative;
        }

        .flex {
        display : flex;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-column {
        flex-direction : column;
    }
    .flex-item-scale {
        flex-basis : auto;
    }
 .sidebar {
     position: fixed;
     width: 20%;
     overflow-y: scroll;
     height: 100%;
     background: #4E4E4E;
 }
 .content {
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
 }

 .tanks-display > ul {
     list-style : none;
 }

 .tanks-display > ul > li {
     height : 50px;
 }
 .scale-to-container {
     max-width:100%;
    max-height:100%;
 }

    </style>

</head>
<body>
    <div class="container body-content">
        <section class="sidebar">
            <div>
                <div class="tanks-toggle">
                    <div id="active-tanks-toggle"> </div>
                    <div id="all-tanks-toggle"> </div>
                </div>
                <div class="tanks-display">
                    <ul>
                        @foreach (string s in ViewBag.ActiveTanks)
                        {
                            <li>
                                @s
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="content flex flex-column">
            <!--sidebar nav end-->
            @RenderBody()
        </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sidebar")
    @Scripts.Render("~/bundles/additionaljquery")
    @RenderSection("scripts", required: false)
</body>
</html>
