
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title - Optimizing Tank Management </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <section class="fixed-navigation">
            <div class="nav nav-pills nav-stacked side-navigation">
                <div class="tanks-toggle">
                    <div id="active-tanks-toggle"> </div>
                    <div id="all-tanks-toggle"> </div>
                </div>
                <div class="tanks-display">
                    <ul>
                        @foreach (string s in ViewBag.ActiveTanks)
                        {
                            <li>
                                @s
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="main-body"></section>
        <!--sidebar nav end-->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sidebar")
    @Scripts.Render("~/bundles/additionaljquery")
    @RenderSection("scripts", required: false)
</body>
</html>
